@import "../../core/styles/variables";

.sf-list-iconed {
  ul {
    li {
      display: flex;
      line-height: 20px;
      font-size: 12px;
      &:not(:last-child) {
        margin-bottom: $sf-padding-secondary;
      }
      .sf-list-icon {
        margin-right: $sf-padding-secondary;
        position: relative;
        top: 2px;
        .sf-icon {
          font-size: 15px;
          color: $sf-color-green;
        }
      }
    }
  }
}