@import "../core/styles/variables";

.sf-sidenav {
  position: relative;
  display: inline-block;
  float: left;
  width: 279px;
  height: 100%;
  padding-bottom: $sf-padding-primary;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: solid 1px $sf-shadow-color-primary;

  .sf-user-nav {
    .sf-list {
      li {
        &.sf-list-active {
          padding: $sf-padding-third $sf-padding-primary;
          background: $sf-color-primary-light;
          margin: 0 (-$sf-padding-primary) $sf-padding-primary (-$sf-padding-primary);
          // border-left: solid 5px $sf-color-primary;
          .sf-textbox-icon {
            color: $sf-color-primary-dark;
          }
          .sf-textbox-text {
            font-weight: 500;
            color: $sf-color-primary-dark;
          }
        }
      }
    }
    .sf-textbox-icon {
      color: $sf-color-primary;
    }
    .sf-textbox-text {
      // font-weight: 500;
    }
  }
}