@import "../../../public/core/styles/variables";

.sf-item-card-wrap {
  display: inline-block;
  padding: $sf-padding-primary;
  //width: 33.33%;
  width: 349px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .sf-item-card {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: inherit;
    border-radius: 5px;
    .sf-item-card-header {
      padding: $sf-padding-primary;
      &.bordered {
        border-bottom: solid 1px $sf-shadow-color-primary;
      }
      h3 {
        margin: 0;
        font-size: $sf-header-sub;
      }
    }
    .sf-item-card-body {
      padding: $sf-padding-primary;
      flex: 1;
    }
    .sf-item-card-footer {
      padding: $sf-padding-primary;
    }

    &.sf-item-card-clickable {
      &:hover {
        box-shadow: 0 1px $sf-shadow-size-primary $sf-shadow-color-primary;
      }
    }
    &.sf-item-card-fixed {
      height: 445px;
      .sf-image-text-container {
        height: 70px;
        .sf-img {
          width: 80px;
          height: 80px;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          display: flex;
          img {
            width: 110%;
          }
        }
      }
    }
  }
}