@import "../../core/styles/variables";

.sf-item-card-wrap {
  display: inline-block;
  padding: $sf-padding-primary;
  //width: 33.33%;
  width: 379px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 (-$sf-padding-primary) (-$sf-padding-primary) (-$sf-padding-primary);

  .sf-item-card {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: inherit;
    border-radius: 5px;
    margin-right: 15px;
    height: 215px;
    .sf-item-card-header {
      padding: $sf-padding-primary;
      display: flex;
      &.bordered {
        border-bottom: solid 1px $sf-shadow-color-primary;
      }
      h3 {
        flex: 1;
        margin: 0;
        font-size: $sf-header-sub;
      }
      .sf-activity-state {
        display: inline-block;
        padding: $sf-padding-third - 3 $sf-padding-third;
        border-radius: $sf-border-radius-primary;
        color: #ffffff;
        &.sf-activity-private {
          background: $sf-private;
        }
        &.sf-activity-published {
          background: $sf-public;
        }
        &.sf-activity-pending {
          background: $sf-pending;
        }
        &.sf-activity-public {
          background: $sf-public;
        }
      }
    }
    .sf-item-card-body {
      padding: $sf-padding-primary;
      flex: 1;
      .sf-image-text-container {
        height: 70px;
        .sf-img {
          width: 70px;
          height: 70px;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          display: flex;
          img {
            width: 110%;
          }
        }
      }
    }
    .sf-item-card-footer {
      padding: $sf-padding-primary;
    }

    &.sf-item-card-clickable {
      &:hover {
        box-shadow: 0 1px $sf-shadow-size-primary $sf-shadow-color-primary;
      }
    }
    &.sf-item-card-fixed {
      height: 445px;
    }
  }
}