@font-face {
    font-family: 'icomoon';
    src:  url('/images/icons/icomoon.eot?y0n2p7');
    src:  url('/images/icons/icomoon.eot?y0n2p7#iefix') format('embedded-opentype'),
    url('/images/icons/icomoon.ttf?y0n2p7') format('truetype'),
    url('/images/icons/icomoon.woff?y0n2p7') format('woff'),
    url('/images/icons/icomoon.svg?y0n2p7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

