@import "../../../core/styles/variables";

.sf-feature-block {
  display: flex;
  border: solid 1px $sf-shadow-color-primary;
  border-radius: $sf-border-radius-primary;
  .sf-feature-entry {
    flex: 1;
    padding: $sf-padding-secondary;
  }
  .sf-feature-add {
    button {
      display: block;
      width: 100%;
      height: 100%;
      padding: $sf-padding-primary $sf-padding-primary+10;
      border: none;
      border-radius: 0 $sf-border-radius-primary $sf-border-radius-primary 0;
      border-left: solid 1px $sf-shadow-color-primary;
      font-size: 20px;
    }
  }

  .sf-input-block {
    margin-bottom: $sf-padding-secondary;
    &:last-child {
      margin: 0;
    }
  }
}