@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../core/styles/variables";

.slick-slider {
  max-width: 60%;
  margin: 0 auto;
  .slick-slide {
    //display: flex;
    //align-content: center;
    //justify-content: center;
    img {
      width: 100%;
    }
  }
  .slick-list {
    border-radius: $sf-border-radius-primary;
    -webkit-box-shadow: 00 0 $sf-shadow-size-secondary $sf-shadow-color-primary;
    -moz-box-shadow: 0 0 $sf-shadow-size-secondary $sf-shadow-color-primary;
    box-shadow: 0 0 $sf-shadow-size-secondary $sf-shadow-color-primary;
  }
  .slick-prev, .slick-next {
    width: 30px;
    height: 30px;
    border: solid 1px $sf-color-primary;
    border-radius: $sf-border-radius-primary;
    color: $sf-color-primary;
  }
  .slick-next {
    right: -55px;
    &:before {
      font-family: 'icomoon';
      content: '\e904';
    }
  }
  .slick-prev {
    left: -55px;
    &:before {
      font-family: 'icomoon';
      content: '\e903';
    }
  }
  .slick-prev:before, .slick-next:before {
    font-size: 14px;
    line-height: 2px;
    color: $sf-color-primary;
    top: 2px;
    position: relative;
  }
  .slick-dots li button:before {
    font-size: 14px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    color: $sf-color-primary;
  }
}