@import "../core/styles/variables";

.sf-topbar {
  position: relative;
  z-index: 100000;
  height: $sf-topbar-height;
  box-shadow: 0 0 5px $sf-shadow-color-secondary;
  .sf-block {
    padding: $sf-padding-secondary $sf-padding-primary;
  }
  .sf-logo {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
    }
    img {
      width: 170px;
      position: relative;
      top: -1px;
    }
    .sf-logo-subtext {
      font-size: 14px;
      line-height: 10px;
      text-transform: uppercase;
      margin: 7px 0 0 10px;
      color: #888;
    }
  }
  a {
    text-decoration: none;
  }
}