//Spacing
$sf-padding-primary : 15px;
$sf-padding-secondary : 10px;
$sf-padding-third : 5px;

//COLORS
//Main
$sf-color-primary : #eb58e6;
$sf-color-primary-dark : #cd19c7;
$sf-color-primary-light : #fbe0fa;
$sf-color-secondary : #3a0165;
$sf-color-secondary-light : #e9ccfe;
$sf-color-bg-primary : #f4f4f4;
$sf-color-bg-secondary : #fafafa;
$sf-color-green: limegreen;

//Shadows
$sf-shadow-color-primary : #00000020;
$sf-shadow-color-secondary : #00000040;

//Status
$sf-pending : #67d6ff;
$sf-public : #7ff57f;
$sf-private : #ccc;
$sf-inprogress : #d6ce35;
$sf-failed : #ff5e2d;

$sf-shadow-size-primary : 5px;
$sf-shadow-size-secondary : 10px;

$sf-topbar-height: 55px;

//Borders
$sf-border-radius-primary : 5px;

//Typography
$sf-text-primary : 13px;
$sf-text-secondary : 11px;
$sf-text-third : 9px;

$sf-header-main: 17px;
$sf-header-sub: 15px;

$sf-text-color-primary: #555;
$sf-text-color-secondary: #888;

$sf-wordspacing-secondary: 2px;
$sf-controls-height: 35px;

//Animations
$sf-animation-time: 0.3s;