@import "../../../public/core/styles/variables";

input,
textarea {
  font-family: 'Open Sans';
  padding: $sf-padding-secondary;
  border-radius: $sf-border-radius-primary;
  border: solid 1px $sf-shadow-color-primary;
  outline: none;
  box-sizing: border-box;
  &.sf-input-shadow {
    border: none;
    box-shadow: 0 1px $sf-shadow-size-primary $sf-shadow-color-primary;
  }
}
.sf-input-block {
  margin-bottom: $sf-padding-primary;
  input, textarea {
    display: block;
    width: 100%;
  }
}
label {
  font-weight: 600;
  display: block;
  margin-bottom: $sf-padding-third;
}