@import "../../core/styles/variables";

.sf-accordion {
  .sf-accordion-item {
    border-radius: $sf-border-radius-primary;
    border: 1px solid $sf-shadow-color-primary;
    margin-bottom: $sf-padding-primary;
    &:last-child {
      margin-bottom: 0;
    }

    .sf-accordion-title {
      background: #fff;
      color: #000;
      font-weight: 600;
      cursor: pointer;
      padding: $sf-padding-secondary;
      width: 100%;
      border: none;
      text-align: left;
      border-radius: $sf-border-radius-primary $sf-border-radius-primary 0 0;
      outline: none;
      -webkit-transition: $sf-animation-time;
      -moz-transition: $sf-animation-time;
      -ms-transition: $sf-animation-time;
      -o-transition: $sf-animation-time;
      transition: $sf-animation-time;

      .sf-accordion-index {
        display: inline-block;
        margin-right: $sf-padding-secondary;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 15px;
      }

      &:after {
        font-family: 'icomoon';
        content: '\e902';
        font-size: 13px;
        float: right;
        margin-left: 5px;
      }
    }

    .sf-accordion-panel {
      max-height: 0;
      border-top: solid 1px $sf-shadow-color-primary;
      -webkit-transition: max-height $sf-animation-time ease-out;
      -moz-transition: max-height $sf-animation-time ease-out;
      -ms-transition: max-height $sf-animation-time ease-out;
      -o-transition: max-height $sf-animation-time ease-out;
      transition: max-height $sf-animation-time ease-out;
      overflow: hidden;
      p {
        padding: $sf-padding-primary;
        margin: 0;
      }
    }

    &.active {
      .sf-accordion-title {
        &:after {
          font-family: 'icomoon';
          content: '\e905';
          color: $sf-color-primary;
        }
      }
    }

    &.active {
      .sf-accordion-index {
        color: $sf-color-primary;
      }
      .sf-accordion-panel {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
      }
    }
  }
}