.coming-soon {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 87%;
  align-items: center;
  justify-content: center;
  img {
    width: 230px;
    margin-bottom: 20px;
  }
  .coming-soon-text {
    font-size: 30px;
    font-weight: 500;
  }
}